/* outside container (positioning) */
.keyboard-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-radius: 5px;
}

/* inside container (styling) */
.keyboard-base { 
    max-width: 100em;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
    border: 1px solid #456;
}

.keyboard-container {
    transform: scale(0.4);
    transform-origin: top left;
    display: inline-block;
    position: relative;
}

/* styling keys (on keyboard) */
.key { 
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
}

/* .key:hover { border: 1px solid #eeeeee; } */

/* keys on 'click' */
.highlight { 
    background-color: cornflowerblue;
    color: white;
    transition: background-color 0.12s, color 0.12s;
}

/* keys on 'click' */
#keyboard-container-2 .highlight { 
    background-color: #4CAF50;
}

/*fixing keys*/
.delete { grid-column: span 4; }
.tab { grid-column: span 3; }
.backslash { grid-column: span 3; }
.capslock { grid-column: span 4; }
.return { grid-column: span 4; }
.leftshift { grid-column: span 5; }
.rightshift { grid-column: span 5; }
.leftctrl { grid-column: span 3; }
.command { grid-column: span 3; font-size: 14px; }
.space { grid-column: span 13; }